body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    overflow-x: hidden;
}

/*HEADER*/

header {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    background-color: #ffffff;
    color: white;
    height: 55px;
    box-shadow: 5px 5px #ffffff;
    height: 55px;
    text-align: center;
}
header li{
    list-style: none;
}
header img{
    width: 100px;
    margin-top: 10px;
    
}


header h2 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 35px;
    color: black;
    margin-left: 30px;
    text-align: center;
}

/*FORMULARIO LOGIN*/

.card {
    width: 200px;
    height: 260px;
    background: #F4F6FB;
    border: 1px solid white;
    box-shadow: 10px 10px 64px 0px rgba(180, 180, 207, 0.75);
    
    margin-left: 550px;
    margin-top: 90px;
}

.form {
    padding: 25px;
}

.card_header {
    display: flex;
    align-items: center;
}

.card svg {
    color: #e6a603;
    margin-bottom: 20px;
    margin-right: 5px;
}

.form_heading {
    padding-bottom: 20px;
    font-size: 21px;
    color: #fcbc03;
    font-weight: bolder;
}

.field {
    padding-bottom: 10px;
}

.input {
    border-radius: 5px;
    background-color: #e9e9f7;
    padding: 5px;
    margin-left: -5px;
    width: 100%;
    color: #fcbc03;
    border: 1px solid #dadaf7
}

.input:focus-visible {
    outline: 1px solid #aeaed6;
}

.input::placeholder {
    color: #bcbcdf;
}

label {
    color: #B2BAC8;
    font-size: 14px;
    display: block;
    padding-bottom: 4px;
    margin-left: -5px;
}

button {
    background-color: #fcbc03;
    margin-top: 15px;
    font-size: 14px;
    padding: 7px 12px;
    height: auto;
    font-weight: 500;
    color: white;
    border: none;
    font-weight: bold;
    margin-left: -5px;
    cursor: pointer;
}

button:hover {
    background-color: #e6a603;
}

.voltar{
    margin-left: 175px;
    margin-top: 10px;
}

.voltar a{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 13px;
    text-decoration: underline royalblue;
    color: royalblue
}