@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto' sans-serif;
}

body{
    background-color: black;
    color: white;
    overflow: hidden;
}

header{
    justify-content: space-between;
    display: flex;
    margin: 20px;
    padding: 2px;
    margin-top: 25px;
}

header li {
    list-style: none;
}

.main h1{
    font-size: 50px;
    font-weight: bolder;
    color: #fcbc03;
    font-family: 'Roboto';
    margin-left: 150px;
    margin-top: 150px;
}

.main p{
    font-size: 15px;
    font-weight: bold;
    color: #fcbc03;
    margin-left: 185px;
    font-family: 'Roboto';
}

header h3{
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.inscreva-se{
    width: 200px;
    height: 40px;
    background-color: #fcbc03;
    color: white;
    display: block;
    margin-left: 180px;
    border-radius: 10px;
    font-family: 'Roboto';
    font-weight: bold;
    margin-top: 15px;
    text-decoration: none;
}

.link{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.main img{
    position: absolute;
    left: 50%;
    top: 0%;
    width: 700px;
    height: 600px;
    
}

.triangulo{
    position: relative;
    left: 58%;
    top: 20px;
    width: 400px;
}
.triangulo-pe{
    position: absolute;
    left: 44%;
    top: 0px;
    width: 1000px;
}

.login-button {
    display: block;
    background-color: #fcbc03;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: bold;
    position: relative;
    z-index: 2; 
    list-style: none;
}